
<%- include('partials/header') %>

<h2>Les gammes de pains</h2>

<a href="/admin/gamme-pains/creation"> <button class="button">Créer une nouvelle gamme de pain</button></a>
<br>
<br>

<table>
	<thead>
        <tr>
            <th>Nom</th>
            <th>Description</th> 
            <th>Ingredient</th>
            <th>Photo</th>
            <th>statut</th>
            <th></th>            
            </tr>
	</thead>
	<% productCategoriesList.forEach(breadType => { %>
            <tr>
            <td><%= breadType.name %></td>
            <td><%= breadType.description %></td>
            <td><%= breadType.ingredient %></td>
            <td><%= breadType.photo %></td>
            <% let status %>
            <% if (breadType.status === true) { status = "visible" } else {status = "non visible"} %>           
            <td><%= status %></td>
            <td><a href="/admin/gamme-pains/<%= breadType.id %>"><button class="button">Modifier</button></td>
            </tr></a>
    <%}); %>

</table>




<%- include('partials/footer') %>