<%- include('partials/header') %> 
 
<h2>Les dates de livraison</h2>

<a href="/admin/dates-livraison/creation"><button class="button">Créer une nouvelle date</button></a>
<br>
<br>

<div>
    <table>
	    <thead>
            <tr>
                <th>Dates</th>
                <th>Statut</th>
            </tr>
	    </thead>
         <% datesToComeList.forEach(date => { %>
            <tr>
                <td><%= date.date.toLocaleDateString('en-GB') %></td>
                <td><%= date.status ? "Activé" : "Désactivé" %></td>
                <td><a href="/admin/dates-livraison/<%= date.id %>"><button class="button">Modifier la date</button></a></td>
                <td><a href="/admin/dates-livraison/<%= date.id %>/lieux-livraison"><button class="button">Voir les lieux associés</button></a></td>
               
            </tr>
        <%}); %>
        </table>
</div>

<a href="/admin/commandes"> <button class="button">Retour</button></a>
    

<%- include('partials/footer') %>